__pycache__
.work
.venv
node_modules
customers/

config.json*
*.local
google-ads.yaml

# Editor directories and files
.vscode/*
!.vscode/extensions.json


# Quasar core related directories
.quasar
/dist

# Log files
npm-debug.log*
